<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://pagination.js.org/dist/2.0.7/pagination.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>

<head>
    <title>Library</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<th:block th:include="/menu">hi</th:block>
<header>
    <h1>Books</h1>
</header>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Presence</th>
        <th>Actions</th>
    </tr>

</table>

<table id="books"></table>

<div id="pagination"></div>


<script>
    $(document).ready(function () {
        $('#pagination').pagination({
            dataSource: 'list',
            locator: 'books',
            pageSize: '2',
            totalNumberLocator: function (response) {
                response.books.forEach(function (entry) {
                    console.log(entry);
                    var $tr = $('<tr>').append(
                        $('<td>').text(entry.title),
                        $('<td>').text(entry.author),
                        $('<td>').text(entry.presence)

                    ).appendTo('#books');
                    console.log($tr.wrap('<p>').html());
                });
                return response.count;
            },
            alias: {
                pageNumber: 'pageNumber',
                pageSize: 'limit'
            }
        });
    })
</script>

</body>
</html>