<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a new book</title>

</head>

<body>
<th:block th:include="/menu">.</th:block>

<h2>Add a new book</h2>

<div align="center">
    <form action="save" method="post">
        <input hidden id="id" th:value="${changed?.getId()}">
        Title:
        <input name="title" th:value="${changed?.getTitle()}"/><br>
        Author:
        <input name="author" th:value="${changed?.getAuthor()}"/><br>
        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>