<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a new book</title>
</head>

<body>
<th:block th:include="/menu">.</th:block>

<h2>Add a new book</h2>

<!--<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>-->

<div align="center">
    <form action="save" method="post" modelAttribute="book">
        <table>
            <tr>
                <td>Title</td>
                <td><input path="title" /></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input path="author" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>